p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.inline-figure {
  border: none !important;
}


.sidebar h2{
  font-weight: bold !important;
  font-size: 1.2rem;
}

.sidebar li.book-part {
  font-weight: bold !important;
  font-size: 1.0rem;
}